{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form(form) }}
        {{ result }}
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
